.toolbar {
  height: 10vh;
  background-color: #303031;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,2);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}


.menu {
  width: 90%;
  margin-left: 16vw;
}

.buttons{
  font-size: 1.2vw;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #9a9a95;

  margin-right: .3vw;
}


.buttons:hover {
  color: white;
  cursor: pointer;
}

.buttons:active {
  color: #9a9a95;
  cursor: pointer;
}



.buttons-disable{
  /* text */
  font-size: 1.2vw;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: black;
}


.buttons-disable:hover {
  color: black;
  cursor: default;
}




.info {
  width: 1.4vw;
  height: 1.9vw;
  background: url("info.png");
  background-size: 1.4vw 2.7vw;
  margin-right: 6vw;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.65vw;
}


.info:hover {
  background: url("info-hover.png");
  background-size: 1.4vw 2.7vw;
  cursor: pointer;
}


.logo {
  width: 13vw;
  position: absolute;
  top: 50%;
  margin-left: 3vw;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo:hover {
  cursor: pointer;
}
