.footer {
  background-color: #303031;
  height:5vh;
  width: 100%;
  margin-top: 95vh;
}

.copyright {
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 5vh;
}

.linkedin {
  margin-left: 10px;
  position: absolute;
  margin-top: 0.8vh;
}

.linkedin:hover {
  cursor: pointer;
}
